/* styles.css */
/* universal selector - Applies to whole document */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #bcceee;
}

/* Animation for winning message */
#winner{
    opacity: 0;
    font-size: 3em;
    text-align: center;
    background-image: linear-gradient(to left, #2ecc71, #3498db, #9b59b6, #f39c12); 
    background-size: 150%;
    color: transparent;
    -webkit-background-size: 150%; 
    animation: animate 1s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
}

/* Animation for losing message */
#lose{
    opacity: 0;
    font-size: 3em;
    text-align: center;
    background-image: linear-gradient(to left, #e74c3c, #c0392b); /* static red gradient */
    background-size: 150%;
    color: transparent;
    -webkit-background-size: 150%;
    background-clip: text;
    -webkit-background-clip: text;
}

/* Animation for tie message */
#tie{
    opacity: 0;
    font-size: 3em;
    text-align: center;
    background-image: linear-gradient(to left, #95a5a6, #bdc3c7, #7f8c8d); /* neutral gray gradient */
    animation: animate 1s linear infinite;
    background-size: 150%;
    color: transparent;
    -webkit-background-size: 150%;
    background-clip: text;
    -webkit-background-clip: text;
}

/* Button container */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Button styles */
#play-game, #play-again-btn {
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 200px;
}

/* Hover and active */
#play-game:hover, #play-again-btn:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

#play-game:active, #play-again-btn:active {
  transform: scale(0.95);
}

/* Button "play again" hidden by default */
#play-again-btn {
  display: none;
}

/* Result container */
.results {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

/* Responsive design */
@media screen and (max-width: 767px) {
  .results {
    font-size: 12px;
  }

  #play-game, #play-again-btn {
    font-size: 1em;
    padding: 8px 16px;
    width: 80%;
  }
}

/* 
@keyframes animate:
Moves diagonally the background simulating a glow move. 
Is used with background-clip: to animate the text with color gradient.

- 0% and 100%: background moves to bottom-left corner (0 100%).
- 50%: background moves to right-top corner (100% 0%).

*/

@keyframes animate{
    0%{
        background-position: 0 100%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0 100%;
    }
}